@import "./landing-page.scss";
@import "./auth.scss";
@import "./components/index";

.pix_btn {
  background: #504DE5 0% 0% no-repeat padding-box !important;
  border-radius: 25px;
  opacity: 1;
  min-height: 50px;
}

.error-msg {
  color: red;
  height: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.summary {
  .summary-title {
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: $blue
  }
  .description {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: $blue;
    p {
      line-height: 30px;
    }
  }
}