.auth {
  padding: 3% 30%;
  .form-control {
    border-radius: 12px;
  }
  .signup {
    width: 100%;
  }
  .div-or {
    div {
      width: 50px;
      height: 30px;
      background-color: #FFFFFF; 
    }
  }
  .facebook {
    background: #475A96 0% 0% no-repeat padding-box !important;
  }  
  .twitter {
    background: #5CA2F2 0% 0% no-repeat padding-box !important;
  }
  .text {
    p {
      font-size: 14px;
      line-height: 26px;
      width: 70%;
      margin: auto
    }
  }
}
.blur-screen {
  position: absolute;
  top: 4%;
  left: 3%;
  width: 94%;
  height: 85vh;
  background: #FFFFFF4D 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 14px #00000029;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 99999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sent-close-btn {
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 50%;
    box-shadow: 0px 2px 14px #00000029;
  }
  .sent-txt {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #3B566E;
    opacity: 1;
  }
}