.get-started {
  min-width: 347px;
}
.swiper-slide {
  margin: auto;
  padding: 50px 0 50px 0;
  transition: transform .5s;
  border-radius: 10px;
}
.swiper-slide-active {
  transform: scale(1.2);
  transition: transform .5s;
}