.landing-page {
  .summary {
    .summary-title {
      margin-top: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 40px;
      color: $blue
    }
    .description {
      width: 70%;
      margin: auto;
      margin-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      color: $blue;
      margin-bottom: 25px;
      p {
        line-height: 30px;
      }
    }
  }
  .get-started {
    background: #504DE5 0% 0% no-repeat padding-box !important;
    border-radius: 25px;
    opacity: 1;
    min-width: 347px;
    height: 50px;
  }
}

.swiper-slide {
  margin: auto;
  padding: 50px 0 50px 0;
  transition: transform .5s;
  border-radius: 10px;
}
.swiper-slide-active {
  transform: scale(1.2);
  transition: transform .5s;
}